<div class="container mt-3">
     <h1 class="text-center background-color:info "> ASSIGNMENT-20</h1>
<hr>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 p-4">
    <div class="col p-3">
        <app-mobile1></app-mobile1>
     
    </div>
    <div class="col p-3">
        <app-mobile2></app-mobile2>
    </div>
    <div class="col p-3">
        <app-mobile3></app-mobile3>
    </div>
    <div class="col p-3">
        <app-mobile4></app-mobile4>
    </div>
    <div class="col p-3">
        <app-mobile5></app-mobile5>
    </div>
    <div class="col p-3">
        <app-mobile6></app-mobile6>
    </div>
</div>
</div>
